* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.swal2-popup {
    border-radius: 20px;
}

.swal2-confirm {
    background-color: #ffc107 !important;
    color: black !important;
}